
/* global > header > search field */

.search {
    position: relative;
    top: 50%;
    margin-top: -20px;
    width: 336px;
    margin: -22px auto 0 auto;
    background-color: white;
    border-radius: 22px;
  }
  
  fieldset {
    border: 0;
  }
  
  .search_outline {
    display: block;
    width: 230px;
    height: 44px;
  }
  
  .search_sharp,
  .search_fixed_text {
    width: 28px;
    height: 28px;
  }
  
  .search_sharp {
    position: absolute;
    top: 11px;
    left: 15px;
  }
  .search_fixed_text {
    position: absolute;
    top: 11px;
    right: 36px;
    width: 65px;
  }
  
  .search_sharp span {
    color: black;
    font-size: 22px;
  }
  
  .search_fixed_text {
    color: black;
    font-size: 20px;
  }
  
  .search_input {
    margin: 11px 12px 0 42px;
    font-size: 20px;
    line-height: 20px;
    outline: none;
    width: 180px;
    display: inline-block;
  }
  
  .search_input::placeholder {
    color: #ddd;
  }
  
  .blind {
    display: none;
  }
  
  .search_clear_btn {
    position: absolute;
    top: 14px;
    right: 106px;
    background-color: transparent;
    padding: 0;
  }
  
  .search_clear_btn_ico {
    display: block;
    width: 16px;
    height: 16px;
    background-image: url('./../../asset/images/sample_clear.png');
    opacity: 0.2;
    background-size: 16px;
  }
  
  .search_btn {
    width: 40px;
    height: 40px;
    margin-top: 0;
    position: absolute;
    top: 1px;
    right: 5px;
    background-color: transparent;
  }
  
  .search_btn_ico {
    display: block;
    width: 20px;
    height: 20px;
    background-image: url('./../../asset/images/search-solid@2x.png');
    background-size: 20px;
  }
  
  .search_keyword_suggest {
    background-color: white;
    width: 318px;
    z-index: 2;
    border-top: solid 2px #eee;
    padding: 0 8px;
  }
  
  .search_keyword_suggest_only {
    font-family: "Jalnan";
    font-weight:400;
    display: block;
    background-color: #fbfbfb;
    width: 400px;
    border-top: solid 2px #eee;
    padding: 0 8px;
    margin: 40px auto;
  
  }
  .search_keyword_suggest_only li{
    color: #333;
  }
  .search_keyword_suggest_only li:hover{
    color: #ff0045;
  }
  
  .search_keyword_subtitle {
    display: block;
  }
  
  .search_keyword_list {
    height: 200px;
    overflow: scroll;
  }
  
  .search_keyword_list li,
  .search_keyword_subtitle {
    color: #ddd;
  }
  
  .search_keyword_subtitle,
  .search_keyword_item {
    padding: 12px 8px;
    border-bottom: solid 2px #eee;
    font-size: 18px;
  }
  
  @media (max-width:480px) {
    .search_input {
      margin: 8px 12px 0 42px;
    }
  }
  
  /* search field > when appear in <body> classMode +'_body' (bigger) */
  
  .search_body {
    position: relative;
    width: 440px;
    height: 60px;
    margin: -22px auto 0 auto;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  }
  
  .search_outline_body {
    display: block;
    width: 260px;
    height: 60px;
  }
  
  .search_sharp_body,
  .search_fixed_text_body {
    width: 28px;
    height: 28px;
  }
  
  .search_sharp_body {
    position: absolute;
    top: 14px;
    left: 22px;
  }
  .search_fixed_text_body {
    position: absolute;
    top: 13px;
    right: 60px;
    width: 80px;
  }
  
  .search_sharp_body span {
    color: black;
    font-size: 30px;
  }
  
  .search_fixed_text_body {
    color: black;
    font-size: 28px;
  }
  
  .search_input_body {
    margin: 12.5px 10px 0 60px;
    font-size: 28px;
    height:28px;
    outline: none;
    width: 210px;
    display: inline-block;
  }
  
  .search_input_body::placeholder {
    color: #ddd;
  }
  
  .search_clear_btn_body {
    position: absolute;
    top: 22px;
    right: 146px;
    background-color: transparent;
    padding: 0;
  }
  
  .search_btn_body {
    width: 60px;
    height: 60px;
    margin-top: 0;
    position: absolute;
    top: -1px;
    right: 0px;
    background-color: transparent;
  }
  
  .search_btn_ico_body {
    display: block;
    width: 28px;
    height: 28px;
    background-image: url('./../../asset/images/search-solid@2x.png');
    background-size: 28px;
  }
  
  .search_keyword_suggest_body {
    background-color: white;
    width: 420px;
    z-index: 2;
    border-top: solid 2px #eee;
    padding: 0 8px;
  }
  
  @media (max-width: 480px) {
  
  .search_body {
    width: 90%;
  }
  
  .search_input_body {
    margin: 12.5px 10px 0 20%;
    font-size: 28px;
    height:28px;
    outline: none;
    width: 70%;
    display: inline-block;
  }
  
  .search_fixed_text_body {
    display: none;
  }
  
  .search_clear_btn_body {
    right: 20%;
  }
  
  .search_btn_body {
    right: 1%;
  }
  
  .search_keyword_suggest_body {
    width:100%;
    padding:0;
  }
  
  
  }